:root {
    --color-primary: #e39a12;
    --primary-hover: #fc28284a;
    --color-secondary: #ffb300;
    --color-tertiary: rgb(119, 3, 201);
    --color-tertiary-opacity: rgba(118, 3, 201, 0.216);
    --color-light: #f3f3f3;
    --color-dark: rgb(27, 27, 29);
    --font-color-light: aliceblue;
    --font-color-dark: #000;
    --background: aliceblue;
    --green: rgb(9, 16, 7);
    --alert: rgb(255, 34, 0);
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(55,0,11);
background: radial-gradient(circle, rgba(55,0,11,1) 0%, rgba(1,10,32,1) 100%);
}

.back-btn {
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
}

.msg {
    position: fixed;
    bottom: 40px;
    color: red;
    margin-left: 50%;
    transform: translate(-50%);
}

.mobile {
    display: none;
}

.sidebar a {
    padding: 10px 20px;
    box-sizing: border-box;
    color: var(--color-light);
    width: 100%;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: var(--primary-hover);
}

.options {
    position: absolute;
    right: 10px;
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 2px var(--color-light);
    cursor: pointer;
}

.options:hover {
    background-color: var(--color-primary);
}

span {
    width: 100%;
    height: 5px;
    margin: 3px;
    background-color: var(--color-light);
}

.sidebar {
    position: fixed;
    top: 50px;
    right: -200px;
    width: 200px;
    height: auto;
    background-color: var(--color-primary);
    transition: right 0.5s ease;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-light);
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hr {
    width: 100%;
    border: solid 1px var(--color-light);
    margin: 0;
}

header {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/anonovo.jpg');
}

header h1 {
    text-align: center;
    font-size: 80px;
    color: var(--color-secondary);
    text-shadow: 3px 3px 1px var(--color-dark);
    font-family: 'Dancing Script', cursive;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary);
}

nav a {
    height: 45px;
    line-height: 45px;
    color: var(--color-light);
    text-decoration: none;
    cursor: pointer;
    padding: 0 10px;
}

nav a:hover {
    background-color: var(--sec--color-secondary-hover);
}

#prod {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.card-group {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    box-sizing: border-box;
    width: 240px;
    height: 230px;
    padding: 2px;
    margin: 10px;
    border: none;
}

.card-img {
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-bottom: 2px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.info {
    border-top: 2px solid var(--color-secondary);
    border-bottom: 2px solid var(--color-secondary);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    margin: 0;
}


.info strong {
    color: var(--color-light);
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(2px);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
}

.close {
    color: #aaa;
    background-color: #fefefe7c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 30px;
    background: none;
    border: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    width: 50%;
    height: 300px;
    max-height: 100%;
    padding: 2px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

#img {
    width: 100%;
    height: 100%;
}

.modal-info {
    width: 50%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
    justify-content: center;
}

#nomeProduto {
    text-align: center;
}

#preco,
#quant {
    height: 30px;
    padding: 2px 10px;
    background-color: #aaa;
    border-radius: 10px;
    margin: 15px 25px;
    display: flex;
    align-items: center;
}

#desc {
    text-align: center;
}

@media (max-width:640px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .sidebar a:hover {
        background: none;
    }

    .sidebar a:active {
        background-color: var(--sec--color-secondary-hover);
    }

    .options:hover {
        background-color: var(--color-secondary);
    }

    .options:active {
        background-color: var(--color-secondary);
    }

    .sidebar a {
        width: 100%;
    }

    header h1 {
        text-align: center;
        font-size: 40px;
        color: var(--color-secondary);
        text-shadow: 3px 3px 1px var(--color-dark);
        font-family: 'Dancing Script', cursive;
    }

    nav {
        position: sticky;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--color-secondary);
    }

    nav a {
        height: 45px;
        line-height: 45px;
        color: var(--color-light);
        text-decoration: none;
        cursor: pointer;
        padding: 0 10px;
    }

    nav a:hover {
        background-color: var(--color-secondary);
    }

    nav a:active {
        background-color: var(--sec--color-secondary-hover);
    }

    #prod {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .card-group {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    article {
        box-sizing: border-box;
        width: 90%;
        height: 80vw;
        padding: 2px;
        margin: 10px;
        border: none;
    }

    .card-img {
        width: 100%;
        height: calc(100% - 30px);
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .card-img img {
        width: 100%;
        height: 100%;
    }

    .info {
        border-top: 2px solid var(--color-secondary);
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info p {
        margin: 0;
    }


    .info strong {
        color: var(--color-light);
    }

    /* Estilos para o modal */

    .modal {
        padding: 0;
    }

    .modal-content {
        box-sizing: border-box;
        padding: 10px;
        width: calc(100vw - 10px);
        flex-direction: column;
    }

    .modal-img {
        width: 100%;
        height: 80vw;
    }


    .modal-info {
        width: 100%;
        height: 100%;
        padding: 2px;
        box-sizing: border-box;
        justify-content: center;
    }
}